<form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm-{{ section_id }}">
  {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
    {% for option in product.options_with_values %}
      {% if settings.variant_type == 'button' %}
        {% include 'variant-button', section_id: section_id, option_drop: option %}
      {% else %}
        {% include 'variant-dropdown', section_id: section_id %}
      {% endif %}
    {% endfor %}
  {% endunless %}

  <select name="id" id="ProductSelect-{{ section_id }}" class="product-single__variants no-js">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %}
          selected="selected" {% endif %}
          value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - {{ 'products.product.sold_out' | t }}
        </option>
      {% endif %}
    {% endfor %}
  </select>

  {% if settings.quantity_enable %}
    <div class="product__quantity product__quantity--{{ settings.variant_type }} js-qty">
      <label for="Quantity-{{ section_id }}">{{ 'products.product.quantity' | t }}</label>
      <input type="number" hidden="hidden" id="Quantity-{{ section_id }}" name="quantity" value="1" min="1" class="js-qty__fallback">
    </div>
  {% endif %}

  {%- if section.settings.show_color_links and product.metafields.my_fields.related_product_image_1 != blank -%}
       <div class="">
         <h4 class="">{{ section.settings.links_title }}</h4>
         <div class="color-links__wrapper">
           {%- if product.metafields.my_fields.related_product_image_1 != blank -%}
              <a href="{{ product.metafields.my_fields.related_product_1.value.url }}">
               <img src="{{ product.metafields.my_fields.related_product_image_1.value | img_url: 'master' }}" alt="">
             </a>
           {%- endif -%}
           {%- if product.metafields.my_fields.related_product_image_2 != blank -%}
              <a href="{{ product.metafields.my_fields.related_product_2.value.url }}">
               <img src="{{ product.metafields.my_fields.related_product_image_2.value | img_url: 'master' }}" alt="">
             </a>
           {%- endif -%}
           {%- if product.metafields.my_fields.related_product_image_3 != blank -%}
              <a href="{{ product.metafields.my_fields.related_product_3.value.url }}">
               <img src="{{ product.metafields.my_fields.related_product_image_3.value | img_url: 'master' }}" alt="">
             </a>
           {%- endif -%}
           {%- if product.metafields.my_fields.related_product_image_4 != blank -%}
              <a href="{{ product.metafields.my_fields.related_product_4.value.url }}">
               <img src="{{ product.metafields.my_fields.related_product_image_4.value | img_url: 'master' }}" alt="">
             </a>
           {%- endif -%}
           {%- if product.metafields.my_fields.related_product_image_5 != blank -%}
              <a href="{{ product.metafields.my_fields.related_product_5.value.url }}">
               <img src="{{ product.metafields.my_fields.related_product_image_5.value | img_url: 'master' }}" alt="">
             </a>
           {%- endif -%}
         </div>
       </div>
  {%- endif -%}

  <button
    {% if product.empty? %}type="button"{% else %}type="submit"{% endif %}
    name="add"
    id="AddToCart-{{ section_id }}"
    class="btn btn--full add-to-cart"
    {% unless product.available %} disabled="disabled"{% endunless %}>
    <span id="AddToCartText-{{ section_id }}">
      {% if product.available %}
        {{ 'products.product.add_to_cart' | t }}
      {% else %}
        {{ 'products.product.sold_out' | t }}
      {% endif %}
    </span>
  </button>
  <div data-aplazame-simulator
       data-price="#ProductPrice-{{ section_id }}"
  ></div>
</form>
